@{
    ViewData["Title"] = "Job Form";
}

<script type="text/javascript">
    $(document).ready(function () { $('.alert-warning').hide() })

    function AddJob() {
        var jobObj = {
            Position: $('.position').val(), 
            Location: $('.location').val(),
            Company: $('.company').val(), 
            Description: $('.description').val()
        }

        var isEmpty = false;

        $('input[type="text"]').each(function () {
            if ($(this).val().trim() === '') {
                isEmpty = true;
                return false;
            }
        })

        if (isEmpty || $('.description').val() === '') {
            $('.alert-warning').show()
            $('.alert-warning span').text("None of the fields can be empty. Check again")
        }
        else if (!$('.form-check-input').is(':checked')) {
            $('.alert-warning').show()
            $('.alert-warning span').text("You must agree terms and conditions before submitting.")
        }
        else {
            $.ajax({
                url: "/JobPost/AddJob",
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(jobObj),
                success: function (response) {
                    $('.alert-warning').hide()
                    ClearInputs();
                    alert("Done")
                    window.location.href = '/JobPost/JobList'
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText)
                }
            })
        }
    }

    function ClearInputs(){
        $('.form-check-input').removeAttr('checked')
        $('.position').val("")
        $('.location').val("")
        $('.company').val("")
        $('.description').val("")
    }
</script>

<div class="my-form">
    <div class="form-header">
        <h1>Job Form</h1>
        <h4>Give others the opportunity to grow !</h4>
    </div>
    <div class="job-post-form">
        <form class="row g-3">
            <div class="col-md-4">
                <label for="validationDefault01" class="form-label">Position</label>
                <input type="text" class="form-control position" id="validationDefault01" required>
            </div>
            <div class="col-md-4">
                <label for="validationDefault02" class="form-label">Company</label>
                <input type="text" class="form-control company" id="validationDefault02" required>
            </div>
            <div class="col-md-4">
                <label for="validationDefault01" class="form-label">Location</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend3"><i class="bi bi-geo-alt-fill"></i></span>
                    <input type="text" class="form-control location" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="validationTextarea" class="form-label">Description</label>
                <textarea class="form-control description" id="validationTextarea description" placeholder="Job Description" required></textarea>
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                        Agree to terms and conditions
                    </label>
                    <div class="invalid-feedback">
                        You must agree before submitting.
                    </div>
                </div>
            </div>
            <br />
            <div class="alert alert-warning" role="alert">
                <i class="bi bi-exclamation-circle-fill"></i> &nbsp; <span></span>
            </div>
            <br />
            <div class="col-12">
                <button class="btn btn-primary" type="button" onclick="AddJob();">Post Job</button>
            </div>
        </form>
    </div>
</div>
