@{
    ViewData["Title"] = "Applications";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

<script type="text/javascript">
    $(document).ready(function () { LoadData() })

    function LoadData(){
        var applicantId = {id: "applicantId" }

        $.ajax({
            url: "/Application/GetApplicants",
            dataType: "json",
            contentType: "applicant/json",
            type: "GET",
            data: applicantId,
            success: function(response){
                var html = '';
                $.each(response, function(key, item){
                    console.log(item)
                    html += '<tr>'
                    html += '<td>' + item.applicantName + '</td>'
                    html += '<td>' + item.applicationDate + '</td>'
                    html += '<td>' + item.jobApplied + '</td>'
                    html += '<td> <button class="btn btn-danger" onclick="DeleteApplicant(' + item.applicationId + ')">Reject Applicant</button> </td>'
                    html += '</tr>'
                })
                $('.job-post-tbody').html(html)
            },
            error: function(errorMessage){
                console.log(errorMessage.resonseText)
            }
        })
    }

    function DeleteApplicant(applicationId){
        var ans = confirm("Are you sure to withdraw this application?")

        console.log(applicationId)
        if (ans) {
            $.ajax({
                url: "/Application/DeleteApplicant",
                contentType: "application/json",
                dataType: "json",
                type: "POST",
                data: JSON.stringify(applicationId),
                success: function (response) {
                    LoadData()
                    alert("Done")
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText)
                }
            })
        }
    }

    function DeleteApplication(applicationId) {
        var ans = confirm("Are you sure to withdraw this application?")

        console.log(applicationId)
        if(ans){
            $.ajax({
                url: "/Application/DeleteApplication",
                contentType: "application/json",
                dataType: "json",
                type: "POST",
                data: JSON.stringify(applicationId),
                success: function(response) {
                    LoadData()
                    alert("Done")
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText)
                }
            })
        }
        
    }
</script>

<center>

    <br />
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <td><strong>Applicant Name</strong></td>
                <td><strong>Application Date</strong></td>
                <td><strong>Position</strong></td>
                <td><strong>Actions</strong></td>
            </tr>
        </thead>
        <tbody class="job-post-tbody">
            @* ------------  Jobs Here -----------------*@
        </tbody>
    </table>

</center>
